.page.theme_light {
  --text-color: #353430;
  --title-text-color: #ffc2e6;
  --main-bg-color: #fff1f7;
  --main-bg-image: url(../images/cover-image-light.png);
  --main-hover-button-border-color: rgba(50, 49, 45, 0.4);
  --accent-text-color: #353430;
  --decor-text-color: #353430;
  --decor-text-shadow-color: #ff8dcb;
  --decor-bg-color: #ff8dcb;
  --decor-color: #353430;
  --decor-shadow-color: #ff8dcb;
  --visible-rec: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --title-text-color: #ffc2e6;
    --main-bg-color: #fff1f7;
    --main-bg-image: url(../images/cover-image-light.png);
    --main-hover-button-border-color: rgba(50, 49, 45, 0.4);
    --accent-text-color: #353430;
    --decor-text-color: #353430;
    --decor-text-shadow-color: #ff8dcb;
    --decor-bg-color: #ff8dcb;
    --decor-color: #353430;
    --decor-shadow-color: #ff8dcb;
    --visible-rec: none;
  }
}