/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font-family: 'IBM Plex Mono', monospace, sans-serif;
  --main-font-size: 18px;
  --main-font-weight: 400;
  --accent-font-weight: 700;
  --text-color: #f1b2ce;
  --title-text-color: #db00ff;
  --decor-color: #ff0070;
  --main-bg-color: #000028;
  --main-bg-image: url(../images/cover-image-dark.png);
  --main-hover-button-border-color: rgba(255, 0, 112, 0.4);
  --accent-text-color: #000028;
  --decor-text-color: var(--decor-color);
  --decor-text-shadow-color: var(--decor-color);
  --decor-bg-color: var(--decor-color);
  --decor-shadow-color: var(--decor-color);
}