/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font-family: 'IBM Plex Mono', Monospace, sans-serif;
  --main-font-size: 18px;
  --main-font-weight:
  --accent-font-weight: 700;


  --text-color: #f1b2ce;
  --title-text-color: #db00ff;
  --main-bg-color: #000028;
  --main-bg-image: url(../images/cover-image-dark.png);
  --main-hover-button-border-color: #ff0070;
  --accent-text-color: #000028;
  --decor-text-color: #ff0070;
  --decor-text-shadow-color: #ff0070;
  --decor-bg-color: #ff0070;
  --decor-color: #ff0070;
  --decor-shadow-color:#ff0070;
}